html body {
    background-repeat: no-repeat;
    background-image: url("background.jpg");
    background-color: gray;
    margin: 0;
    min-height: 100%;
}

h1 {
    text-align: center;
}

nav {
    top: o;
    width: 100%;
    position: fixed;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile {
    padding-top: 100px;
}

ul {
    justify-content: space-between;
    display: flex;
}

ul li {
    display: flex;
}

ul li a {
    opacity: 50%;
    font-size: 17px;
    text-decoration: none;
}

.Names {
    text-align: center;
}

.Nametile {
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
}

img {
    border-radius: 50%;
}

.Namestext {
    position: relative;
    bottom: 105px;
    display: inline-block;
}

.imgsize {
    width: 250px;
    height: 250px;
    border: solid black;
}